p{
    color:blue;
    font-size: 16px;
}
.content p{
    color: black;
    font-size: 26px;

}

.footer p{
    font-size: 10px;

}
.footer *{
    background-color: bisque;
}
.footer div{
    background-color: blueviolet;
}

.header {
    /*border_width: 1 px;
    border-color: darkorange;
    border-style: ridge;*/
    border: 10px solid hotpink;
}